/*COURSE CSS */
.course{
    margin: 15px 15px;
    font-size: 14px;
}
.course .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
/*HEADER*/

.course-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-header .course-header-left{
    display: flex;
    align-items: center;
}
.course-header .course-header-right{
    display: flex;
    align-items: center;
}
.course-header .header-items {
    display: flex;
    align-items: center;
    margin:0px 20px 10px 0px;
}

.course-header .header-items .input-find{
    border-radius: 3px;
    border: 1px solid #007bff;
    padding:6px 5px;
    width: 250px;

}
.course-header .header-items .select-item{
    margin-left: 10px;
    width: 300px;
    background-color: #f2f2f2;
    border-color: #007bff;
    border-radius: 3px;
}
/*CONTENT*/
.course-content{
    margin: 10px 0px;
}
.btn-size{
    font-size: 14px;

}
.btn-size i{
    padding-right: 2px;
}
.select-item-form{
    width: 466px;
    background-color: #fff;
    height: 38px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    font-size: 15px;
    padding: 0px 12px;

}

.table-course{
    max-height: calc(100vh - 16rem);
    overflow: auto;
    position: relative;
}

.table-course table thead tr th{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}