.header{
    height: 3rem;
    border-bottom: 1px solid #e7e7e7;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.header-right input{
    height: 2rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input{
    margin-right: 15px;
}