.header{
    height: 70px;
    border-bottom: 1px solid #e7e7e7;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.header input{
    height: 40px;
}

.header-right input{
    margin-top: 15px;
    margin-right: 15px;
}