.container-exam{
    margin: 15px 15px;
    font-size: 14px;
}

.container-exam .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#333333;
}
/*HEADER*/

.exam-header{
    display: flex;
    align-items: center;
}
.exam-header .exam-header-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    align-items: center;
    width: 80%;

}
.exam-header .exam-header-right{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    width: 20%;
    align-items:flex-end;
}
.exam-header .header-items {
    align-items: center;
    margin:0px 0px 10px 0px;
}
.exam-header .header-items label{
    width: 80px;
}
.exam-header .header-items .input-find{
    border-radius: 3px;
    border: 1px solid #2692ff;
    padding:6px 5px;
    width: 250px;
    height: 35px;

}
.exam-header .header-items .select-item{

    width: 250px;
    background-color: #fff;
    border-color: #2692ff;
    border-radius: 3px;
    height: 35px;
}
/*CONTENT*/
.container-exam .exam-body {
    margin: 10px 0px;
}

.container-exam .tbl-exam{
    max-height: calc(100vh - 16rem);
    overflow: auto;
    position: relative;
}

.container-exam .tbl-exam table thead th{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}